@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: var(--parapraph-font);
    max-width: 1000px;
    padding: 20px;
}

:root {
    --primary-color: #00243D;
    --secondary-color: #9CAFB7;
    --accent1-color: #EAD2AC;
    --accent2-color: #36817F;

    --heading-font: 'Protest Riot';
    --paragraph-font: 'Montserrat'; 

    --nav-background-color: #9CAFB7;
    --nav-link-color: #00243D;
    --nav-hover-link-color: #EAD2AC;
    --nav-hover-background-color: #36817F;
}
 
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero div {
    position: relative;
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    position: absolute;
    top: 290px;
    left: 275px;
}


.herodiv img{
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.article {
    width: 200px;
    height: auto;
    border: 1px solid grey;
    padding: 2px;
    box-shadow: 0 0 30px grey;
    margin: 0 0 1rem 1rem;
    position: absolute;
    float: right;
    top: 425px;
    left: 750px;
    color: var(--primary-color);
    background-color: #eee;
}

.article img {
    float: right;
}